/* page-container */
.page-container {
  padding: 20rpx;
}

/* 设置轮播图容器宽高相等，确保是正方形 */
.swiper {
  width: 100%;  /* 宽度占满父容器 */
  height: 100vw;  /* 高度等于屏幕宽度，实现正方形效果 */
}

/* 轮播图中的图片保持正方形并适应容器 */
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;  /* 保证图片完整显示，不裁剪 */
}

/* 游戏名字 */
.game-name {
  font-size: 32rpx;
  font-weight: bold;
  margin-bottom: 10rpx;
}

/* 游戏描述 */
.game-description {
  font-size: 28rpx;
  color: #666;
}
